<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="/css/base.css"
      type="text/css"
      media="screen, projection"
    />
    <title>Bookmarklets</title>
  </head>
  <body style="padding-left: 20px">
    <h2>Jonathan's Bookmarklets</h2>

    <p>
      Original code found in my
      <a href="https://github.com/jpalardy/bookmarklets">bookmarklets</a>
      project on github.
    </p>

    <p>To "install", drag a bookmarklet link into your browser toolbar.</p>
    <p>
      To run, click on the bookmark while on the webpages it is indented to run
      on.
    </p>
    <p>To "uninstall", delete the bookmark.</p>

    <h2>Bookmarklets</h2>

    <ul>
      <li><a href="javascript:#code">pagemeta</a> — Grab page's title and url, dated today</li>
      <li><a href="javascript:#code">toggle ruby</a> — Toggle's the visibility of &lt;rt&gt; tags.</li>
      <li><a href="javascript:#code">amazon-ca</a> — Switch amazon.com links to amazon.ca.</li>
      <li><a href="javascript:#code">highlight-yellow</a> — Highlight all links.</li>
      <li><a href="javascript:#code">keasy</a> — Highlight easier kanji memora cards.</li>
      <li><a href="javascript:#code">keasy-1</a> — Highlight easier kanji memora cards.</li>
      <li><a href="chrome://crash">crash!</a> — Crash a Chrome tab: useful when things get out of hands.</li>
    </ul>
  </body>
</html>
